/*######################## TAG SELECTORS ########################*/
body {
    background-color: rgb(227, 253, 253);
    font: 15px Montserrat, sans-serif;
    color: rgb(63, 78, 79);
}

hr {
    background-color: white;
    border: 3px dotted;
    border-style: none none dotted;
    width: 30px;
    color: grey
}

p {
    font: 15px Montserrat, sans-serif;
    color: rgb(44, 54, 57);
}

h1 {
    font: 32px Montserrat, sans-serif;
}

h2 {
    font: 20px Montserrat, sans-serif;
    color: rgb(44, 54, 57);
}

table,
td {
    border: 0px solid #333;
    border-spacing: 10px;
    vertical-align:top;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

input[type=text] {
    width: 150px;
    padding: 3px 20px 3px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 150px;
    padding: 3px 20px 3px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    width: 150px;
    height: 50px;
}

select {
    width: 100px;
    height: 25px;
}

textarea {
    width: 80%;
    height: 150px;
    max-width: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/*####################### CLASS SELECTORS ########################*/
table.center {
    margin-left: auto;
    margin-right: auto;
}

.list-left {
    text-align: left;
}

.rounded {
    border-radius: 20%;
}

img:hover {
    opacity: 0.5;
}

.message-container {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(227, 253, 253);
    width: 100%;
}

.roles-container {
    position: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(227, 253, 253);
    width: 100%;
    align-content: center;
    text-align: center;
}

.top-container {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 0;
    background-color: rgb(227, 253, 253);
    width: 100%;
    height: 20%;
    min-height: 200px;
}

.middle-container {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(227, 253, 253);
    width: 100%;
    height: 60%;
    min-height: 200px;
    align-content: center;
    text-align: center;
}

.bottom-container {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(227, 253, 253);
    width: 100%;
    height: 20%;
    min-height: 200px;
    align-content: center;
    text-align: center;
}

.role-row {
    position: relative;
    margin: auto;
    max-width: 80%;
    display: inline-block;
    flex-wrap: wrap;
    align-content: center;
}

.profile-pic {
    border-radius: 35%;
}

.programmer-image {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 0px;
    float: right;
    width: 30%;
    height: auto;
    max-width: 250px;
}

.project-manager-image {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 50px;
    float: left;
    width: 30%;
    height: auto;
    max-width: 250px;
}

.engineer-image {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 0px;
    float: right;
    width: 30%;
    height: auto;
    max-width: 250px;
}


/*####################### ID  SELECTORS ##########################*/

